@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font: "Bricolage Grotesque", sans-serif;
}

body {
  font-family: var(--app-font);
}

@layer base {
  :root {
    --background: 351.43 53.85% 97.45%;
    --foreground: 346.67 100% 3.53%;

    --primary: 347.07 100% 35.49%;
    --primary-foreground: 0 0% 100%;

    --card: 351.43 53.85% 97.45%;
    --card-foreground: 346.67 100% 3.53%;

    --popover: 0 0% 100%;
    --popover-foreground: 346.67 100% 3.53%;

    --secondary: 346.67 55.1% 90.39%;
    --secondary-foreground: 342.86 100% 1.37%;

    --muted: 350 56.25% 93.73%;
    --muted-foreground: 0 0% 40%;

    --accent: 350 56.25% 93.73%;
    --accent-foreground: 347.07 100% 35.49%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 347.07 100% 35.49%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 342.86 100% 1.37%;
    --foreground: 346.67 55.1% 90.39%;

    --primary: 347.07 100% 35.49%;
    --primary-foreground: 0 0% 100%;

    --card: 342.86 100% 1.37%;
    --card-foreground: 346.67 55.1% 90.39%;

    --popover: 342.86 100% 1.37%;
    --popover-foreground: 346.67 55.1% 90.39%;

    --secondary: 346.67 100% 12.35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 342.86 12.28% 11.18%;
    --muted-foreground: 340 1.2% 50.78%;

    --accent: 346.67 100% 12.35%;
    --accent-foreground: 346.67 55.1% 90.39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 347.07 100% 35.49%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: hsla(240, 1%, 17%, 0);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #b50027;
  border-radius: 5px;
}

*::-webkit-scrollbar-button {
  width: 20px;
}
